.categoryProducts{
    display: grid;
    grid-template-columns: 80vw;
    grid-template-columns: minmax(calc(100vh-var(--navbar-height)),min-content);
    justify-content: center;
    background-color: aquamarine;
}
.category_product_list{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em,1fr));
    align-content: start;
    justify-items: center;
}